<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="">Categorias</a></li>
          <li><a href="">Recetas</a></li>
          <li><a href="">Comentarios</a></li>
          <li><a href="">Usuarios</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
