<div class="container">
    <div class="formulario">
        <div class="title-card">
            <h2>Crear nueva receta</h2>
        </div>
        <form action="/recetas/save" method="post">
            <div class="form-group">
                <label for="nombre">Nombre </label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"/>
            </div>
            <div class="form-group">
                <label for="cant_ingredientes">Lista de Ingredientes </label><br>
                <textarea class="form-control" name="cant_ingredientes" id="cant_ingredientes" name="cant_ingredientes" placeholder="Ingredientes"></textarea>
            </div>
            <div class="form-group">
                <label for="pasos">Pasos </label><br>
                <textarea class="form-control" name="pasos" id="pasos" name="pasos" placeholder="Ingrese los pasos de la receta"></textarea>
            </div>
            <div class="form-group id">
                <label for="imagenes">Imagenes</label>
                <input type="text" class="form-control" id="id_imagene" name="id_imagene" placeholder="Imagenes"/>
            </div>
            <div class="form-group id">
                <label for="tiempo">Tiempo </label>
                <input type="text" class="form-control" id="tiempo" name="tiempo" placeholder="tiempo"/>
            </div>
            <div class="form-group id">
                <label for="modo">Modo </label>
                <input type="text" class="form-control" id="modo" name="modo" placeholder="modo"/>
            </div>
            <div class="form-group id">
                <label for="categoria">Categoria </label>
                <input type="text" class="form-control" id="id_categoria" name="id_categoria" placeholder="categoria"/>
            </div>
            
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Grabar">
            </div>
        </form>
    </div>
</div>

<td> <a href="/recetas/show/{{ _id  }}"> {{ nombre }}  </td>
                        
                        