<div class="container">
    <h3><a href="usuarios">Lista de categorias</a></h3>
    <h1>Crear nuevo categoria</h1>
    <form action="/categorias/save" method="post">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">
        </div>
        <div>
            <label for="descripcion">Descripcion</label>
            <textarea name="descripcion" id="descripcion">
                
            </textarea>
        </div>
        <div>
            <input type="submit" value="Agregar">
        </div>
    </form>
</div>