<div class="container">
    <h3><a href="/categorias">Lista de categorias</a></h3>
    <h1>Detalle categoria</h1>
        <table>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>{{ categoria.nombre }}</td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td>{{ categoria.descripcion }}</td>
                </tr>
            </tbody>
        </table>
</div>

