<div class="container">
    <div class="title-card detalle">
        <h2>Detalle categoria</h2>
    </div>
    <div>
        <ul>
            <li><h5>Nombre</h5></li>
                <p>{{ categoria.nombre }}</p>

            <li><h5>Descripcion</h5></li>
                <p>{{ categoria.descripcion }}</p>
        </ul>
    </div>
  
</div>

